<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		Pesquisa Datafolha em São Paulo: Doria, 25%; Skaf, 23%; França, 8%; Marinho, 5% | Eleições 2018 em São Paulo | G1
	</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a id="globo" href="https://www.globo.com/">globo.com</a></li>
				<li><a id="g1" href="https://g1.globo.com/">g1</a></li>
				<li><a id="globoesporte" href="https://globoesporte.globo.com/">globoesporte</a></li>
				<li><a id="gshow" href="https://gshow.globo.com/">gshow</a></li>
				<li><a id="videos" href="https://globoplay.globo.com/">vídeos</a></li>
			</ul>
		</nav>
		<div id="saopaulo">
			<a href="https://g1.globo.com/sp/sao-paulo/">
				São Paulo
			</a>
		</div>
		<div id="eleicoes">
		<a href="https://g1.globo.com/sp/sao-paulo/eleicoes/2018">
			Eleições 2018 em São Paulo
		</a>
		</div>
	</header>

	<section>
		<h1 id="titulo">
			Pesquisa Datafolha em São Paulo: Doria, 25%; Skaf, 23%; França, 8%; Marinho, 5%
		</h1>
		<br>
		<h2 id="subtitulo">
			Professora Lisete e Costa e Silva têm 2% cada um; Toninho Ferreira, Candido, Prof. Claudio Fernando, Tavares e Chequer têm 1% cada um. Dorta não atinge 1%. Levantamento foi feito nos dias 4, 5 e 6 de setembro.
		</h2>
		<br><br>
		<h3 class="autor">
			Por G1 SP, São Paulo<br>
		</h3>
		<h3 class="data">
			06/09/2018 19h18  Atualizado há 49 minutos
		</h3>
		<br><br>
		<div id="conteudo">
			<!-- <video controls src="#">
				Vídeo não disponível
			</video>
			<br>
			<p class="legenda-video">Datafolha divulga novos números da intenção de voto ao governo de São Paulo</p>
			<br><br> -->		
			<p>
				Pesquisa Datafolha divulgada nesta quarta-feira (6) aponta os seguintes percentuais de intenção de voto para o governo de São Paulo:
			</p>
			<br>
			<ul>
				<li>João Doria (PSDB): 25%</li>
				<li>Paulo Skaf (MDB): 23%</li>
				<li>Marcio França (PSB): 8%</li>
				<li>Luiz Marinho (PT): 5%</li>
				<li>Professora Lisete (PSOL): 2%</li>
				<li>Major Costa e Silva (DC): 2%</li>
				<li>Toninho Ferreira (PSTU): 1%</li>
				<li>Marcelo Candido (PDT): 1%</li>
				<li>Prof. Claudio Fernando (PMN): 1%</li>
				<li>Rodrigo Tavares (PRTB): 1%</li>
				<li>Prof. Claudio Fernando (PMN): 1%</li>
				<li>Rogerio Chequer (Novo): 1%</li>
				<li>Edson Dorta (PCO): 0%</li>
				<li>Branco/Nulo/Nenhum: 22%</li>
				<li>Não sabe: 8%</li>
			</ul>
			<br>
			<p>
				No <a href="https://g1.globo.com/sp/sao-paulo/eleicoes/2018/noticia/2018/08/22/pesquisa-datafolha-em-sao-paulo-doria-25-skaf-20-franca-e-marinho-4.ghtml">levantamento anterior</a>, feito nos dias 20 e 21 de agosto, os números foram: Doria 25%; Skaf, 20%; França, 4%; Marinho, 4%; Lisete, 2%; Costa e Silva, 2%; Ferreira, 1%; Tavares, 1%; Claudio Fernando, 1%; Chequer, 1%; Dorta, 0%; branco/nulo/nenhum, 26%; Não sabe, 11%.
				<br><br>
				A pesquisa foi encomendada pela ‘Folha de S. Paulo’ e TV Globo. É o primeiro levantamento do Datafolha depois do início da propaganda eleitoral gratuita no rádio e na TV.
			</p>

			<br><br>

			<h1>
				Sobre a pesquisa
			</h1>
			<br>
			<ul>
				<li>Margem de erro: 2 pontos percentuais para mais ou para menos</li>
				<li>Quem foi ouvido: 2.030 eleitores em 50 municípios do estado, com 16 anos ou mais</li>
				<li>Quando a pesquisa foi feita: 4 a 6 de setembro de 2018</li>
				<li>Registro no TSE: SP- 07990/2018</li>
				<li>O nível de confiança utilizado é de 95%. Isso quer dizer que há uma probabilidade de 95% de os resultados retratarem o atual momento eleitoral, considerando a margem de erro</li>
				<li>0% significa que o candidato não atingiu 1%. Traço significa que o candidato não foi citado por nenhum entrevistado.</li>
			</ul>
			<br><br>

			<h1>
				Espontânea
			</h1>
			<br>
			<p>
				Na modalidade espontânea da pesquisa Datafolha (em que o pesquisador somente pergunta ao eleitor em quem ele pretende votar, sem apresentar a relação de candidatos), o resultado foi o seguinte:
			</p>
			<br>
			<ul>
				<li>João Doria (PSDB): 10%</li>
				<li>Paulo Skaf (MDB): 7%</li>
				<li>Marcio França (PSB): 4%</li>
				<li>Luiz Marinho (PT): 2%</li>
				<li>Outras respostas: 8%</li>
				<li>Branco/Nulo/Nenhum: 17%</li>
				<li>Não sabe: 52%</li>
			</ul>
			<br>
			<p>
				No levantamento anterior, nos dias 20 e 21 de agosto, os números foram: Doria, 6%; Skaf, 4%. França e Marinho, 1%; Branco/nulo/nenhum, 17%; não sabe, 63%.
			</p>
			<br><br>

			<h1>Rejeição</h1>
			<br>
			<!-- <video controls src="#">
				Vídeo não disponível
			</video>
			<br>
			<p class="legenda-video">Datafolha mostra números dos candidatos com mais rejeição ao governo paulista</p>
			<br><br> -->
			<p>
				O Datafolha também mediu a taxa de rejeição (o eleitor deve dizer em qual dos candidatos não votaria de jeito nenhum). Nesse item, os entrevistados puderam escolher mais de um nome. Veja os índices:
			</p>
			<br>
			<ul>
				<li>João Doria (PSDB): 33%</li>
				<li>Luiz Marinho (PT): 24%</li>
				<li>Paulo Skaf (MDB): 23%</li>
				<li>Major Costa e Silva (DC): 18%</li>
				<li>Toninho Ferreira (PSTU): 18%</li>
				<li>Marcio França (PSB): 17%</li>
				<li>Edson Dorta (PCO) 16%</li>
				<li>Marcelo Candido (PDT): 15%</li>
				<li>Professora Lisete (PSOL): 15%</li>
				<li>Rodrigo Tavares (PRTB): 14%</li>
				<li>Rogerio Chequer (Novo): 13%</li>
				<li>Prof. Claudio Fernando (PMN): 12%</li>
				<li>Rejeita todos/não votaria em nenhum: 9%</li>
				<li>Votaria em qualquer um/ não rejeita nenhum: 4%</li>
				<li>Não sabe: 10%</li>
			</ul>
			<br>
			<p>
				No levantamento anterior, no dia 20 e 21 de agosto, os números foram: Doria, 32%; Skaf, 21%; Marinho, 19%; Françça, 15%; Costa e Silva, 14%; Ferreira, 14%; Tavares, 12%; Chequer, 12%; Dorta, 12%; Candido, 12%; Claudio Fernando, 10%; nenhum, 11%; qualquer um, 3%; não sabe, 14%.
			</p>
			<br>
			<hr>
			<br>
			<p class="referencia">DATAFOLHA SP, 6 DE SETEMBRO</p>
			<br><br>
		</div>
	</section>
</body>
</html>